# Supabase Configuration
VITE_SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVldWZwcmRlZG9rbGVxbHlvb3lxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgxOTAxNjksImV4cCI6MjA2Mzc2NjE2OX0.8XzLesKOYD4bZxg1_kriut9l_kMpDmdwfdH78fYvcMQ
VITE_PROJECT_URL_SUPABASE=https://ueufprdedokleqlyooyq.supabase.co
